   html,
   body,
   div,
   span,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   abbr,
   address,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   samp,
   small,
   strong,
   sub,
   sup,
   var,
   b,
   i,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   dialog,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section,
   time,
   mark,
   audio,
   video {
       margin: 0;
       padding: 0;
       border: 0;
       outline: 0;
       font-size: 100%;
       vertical-align: baseline;
       background: transparent;
   }

   html {
       overflow-y: scroll;
       overflow: -moz-scrollbars-vertical
   }

   body {
       line-height: 1;
       overflow-x: hidden
   }

   article,
   aside,
   dialog,
   figure,
   footer,
   header,
   hgroup,
   nav,
   section {
       display: block
   }

   blockquote,
   q {
       quotes: none
   }

   ul,
   li {
       list-style: none
   }

   @-ms-viewport {
       width: device-width
   }

   * {
       box-sizing: border-box;
       /*-webkit-box-shadow:inset 0px 0px 0px 1px #f00;
    -moz-box-shadow:inset 0px 0px 0px 1px #f00;
    box-shadow:inset 0px 0px 0px 1px #f00;*/
   }

   :focus,
   a {
       -moz-outline-style: none;
       outline: none;
       text-decoration: none
   }

   :focus:hover,
   a:hover {
       text-decoration: none
   }

   img {
       width: 100%;
       height: auto
   }

   /* img[src^="data:image/gif"] {
        opacity: 0
    }*/

   @font-face {
       font-family: 'Suisse';
       src: url("/assets/fonts/SuisseIntl-Regular-WebXL.eot");
       src: url("/assets/fonts/SuisseIntl-Regular-WebXL.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"), url("/assets/fonts/SuisseIntl-Regular-WebXL.woff") format("woff"), url("/assets/fonts/SuisseIntl-Regular-WebXL.ttf") format("truetype"), url("/assets/fonts/SuisseIntl-Regular-WebXL.svg#suisse_intlregular") format("svg");
       font-weight: 400;
       font-style: normal
   }

   @font-face {
       font-family: "Suisse";
       src: url("/assets/fonts/SuisseIntl-Book-WebS.eot");
       src: url("/assets/fonts/SuisseIntl-Book-WebS.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/SuisseIntl-Book-WebS.woff2") format("woff2"), url("/assets/fonts/SuisseIntl-Book-WebS.woff") format("woff"), url("/assets/fonts/SuisseIntl-Book-WebS.ttf") format("truetype"), url("/assets/fonts/SuisseIntl-Book-WebS.svg#suisse_intlbook") format("svg");
       font-weight: 500
   }

   @font-face {
       font-family: "Suisse";
       src: url("/assets/fonts/SuisseIntl-Medium-WebXL.eot");
       src: url("/assets/fonts/SuisseIntl-Medium-WebXL.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/SuisseIntl-Medium-WebXL.woff2") format("woff2"), url("/assets/fonts/SuisseIntl-Medium-WebXL.woff") format("woff"), url("/assets/fonts/SuisseIntl-Medium-WebXL.ttf") format("truetype"), url("/assets/fonts/SuisseIntl-Medium-WebXL.svg#suisse_intlmedium") format("svg");
       font-weight: 700
   }

   html {
       background: transparent;
   }

   body {
       color: #111;
       position: relative
   }

   body * {
       box-sizing: border-box
   }

  /* body:after {
       font: 0/0 a;
       color: transparent;
       text-shadow: none;
       width: 1px;
       height: 1px;
       margin: -1px 0 0 -1px;
       position: absolute;
       left: -1px;
       top: -1px
   }*/

   body a {
       color: #111
   }

   .hide {
       display: none
   }

   @media (max-width: 1300px) and (min-width: 1030px) {
       head {
           font-family: 'large'
       }

       body:after {
           content: 'large'
       }

       .hide-large {
           display: none
       }
   }

   @media (max-width: 1029px) and (min-width: 768px) {
       head {
           font-family: 'large medium'
       }

       body:after {
           content: 'large medium'
       }

       .hide-medium {
           display: none
       }
   }

   @media (max-width: 767px) and (min-width: 600px) {
       head {
           font-family: 'large medium small'
       }

       body:after {
           content: 'large medium small'
       }

       .hide-small {
           display: none
       }
   }

   @media (max-width: 599px) and (min-width: 401px) {
       head {
           font-family: 'large medium small xsmall'
       }

       body:after {
           content: 'large medium small xsmall'
       }

       .hide-xsmall {
           display: none
       }
   }

   @media (max-width: 400px) {
       head {
           font-family: 'large medium small xsmall xxsmall'
       }

       body:after {
           content: 'large medium small xsmall xxsmall'
       }

       .hide-xxsmall {
           display: none
       }
   }

   body,
   button,
   input,
   select,
   textarea,
   h1,
   h2,
   h3,
   h4,
   h5,
   blockquote {


       font-family: 'Suisse', sans-serif;


   }


    @media (max-width: 1029px) {

        body,
        {
            font-size: 16px;
            line-height: 24px
        }
    }

   h1,
   h2,
   h3,
   h4,
   h5,
   blockquote {
       font-weight: 200;
       color: inherit
   }
