/* Fade effect */
.js body {
    opacity: 0;
    transition: opacity 0.3s;
}

.js body.render {
    opacity: 1;
}

/* Fade effect */
/* Custom CSS body html
 * --------------------------------------- */
html,
body {
    position: relative;
    height: 100%;
}

body {
    --color-text: #181a1e;
    --color-text-dark: #292a2c;
    --color-white: #1f1f1f;
    --color-bg--trans: transparent !important;
    --color-bg--body: #f1f1f1;
    --color-bg: #f1f1f1;
    --color-link: darkblue;
    --color-link-hover: lightblue;
    --color-link-visited: darkblue;
    --color-link-active: lightgreen;
    --color-box-shadow: #181a1e;
}

body {
    background: var(--color-bg--body);
    color: var(--color-text);
    font-family: "source-code-pro";

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

/* Custom CSS LINKS
 * --------------------------------------- */
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

a,
a:link {
    text-decoration: none;
    color: var(--color-text-dark);
    transition: color 0.3s;
    cursor: crosshair;
    z-index: +9;
}

a:visited {
    color: var(--color-text-dark);
    /*filter: invert();*/
}

a:hover {
    color: var(--color-link-active);
}

a:active,
.active {
    color: var(--color-text-dark);
    font-weight: 700;
}


/* Custom CSS SIZING
 * --------------------------------------- */
.main-container {
    position: relative;
    width: auto;
    padding: 5px;
}

.container,
.footer {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    position: fixed;
    top: 1em;
    left: 0;
    right: 0;
    height: 0;
}

.container.row {
    width: 100%;
}

.container.row.h100 {
    min-height: 100vh;
    justify-content: center;
}

@media all and (min-width: 768px) {
    #main-content {
        max-width: 1280px;
        margin: auto;
    }
}


/* Custom CSS SPACING
 * --------------------------------------- */
.pad-1 {
    padding: 1rem;
}

/* Custom CSS Nav
 * --------------------------------------- */
.nav {
    filter: invert(1);
    mix-blend-mode: difference;
}

nav.main {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: baseline;
    z-index: 100;
}

nav.main li {
    padding: 1em;
}

ul,
li {
    list-style: none;
}

/* Custom CSS Customs
 * --------------------------------------- */
#Studio,
#Jekeru {
    cursor: url("https://jekeru.fr/assets/img/cursor.png"), ew-resize;
    position: relative;
    height: calc(100% - 0rem);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: column;
    overflow: hidden;
}

@media all and (min-width: 768px) {
    #Studio {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    body.index #Studio {
        position: relative;
    }
}

#Studio span,
#Jekeru span {
    padding: 1rem;
}

#Studio a,
#Jekeru a {
    font-size: 10vmax;
    line-height: 13vmax;
}

@media all and (max-width: 768px) {

    #Studio a,
    #Jekeru a {
        width: 100%;
    }

    #Studio a span,
    #Jekeru a span {
        writing-mode: vertical-lr;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        display: flex;
    }
}


/* Custom CSS MOBILE
 * --------------------------------------- */
@media all and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

/* Custom CSS Wow
 * --------------------------------------- */



/* Custom CSS Dark mode
 * --------------------------------------- */
body.dark--mode--jekeru {
    --color-bg--body: #181a1e;
    --color-text: #f1f1f1;
    --color--black: #1f1f1f;
    --color-text-dark: rgba(41, 82, 88, 0.97);
    --color-link: rgb(41, 82, 88);
    --color-link-hover: rgba(41, 82, 88, 0.57);
    --color-link-visited: rgba(41, 82, 88, 0.747);
    --color-link-active: rgba(41, 82, 88, 0.747);
}

.align-center-flex {
    display: flex;
    align-items: center;
}

.toggledark {
    background: var(--color-bg--trans);
    border: 1px solid #1f1f1f;
    width: 45px;
    height: 20px;
    cursor: crosshair;
    border-radius: 20px;
    transition: 0.5s;
    transform: translate(25%);
    display: flex;
}

.toggledark.active {
    background: var(--color-text-dark);
    border: 1px solid #f1f1f1;
}

.toggledark:before {
    left: 0px;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--color-text-dark);
    border-radius: 20px;
    transition: 0.5s;
}

.toggledark.active:before {
    left: 27px;
    background: #fff;
}